#Wed Dec 15 21:46:29 CET 2021
player3_right_key=
player2_left_key=29
player1_right_key=37
player3_attack_one_key=
player2_jump_key=54
player2_attack_two_key=45
player4_attack_one_key=
player3_left_key=
player1_attack_two_key=39
player3_jump_key=
player4_right_key=
player4_run_key=
player2_right_key=33
player3_run_key=
player1_attack_one_key=41
player2_run_key=51
player1_run_key=76
player4_attack_two_key=
player1_jump_key=43
player2_attack_one_key=32
player4_left_key=
player1_left_key=44
player3_attack_two_key=
player4_jump_key=
